<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Danh sách đơn đặt hàng</p>
                    </div>
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-md-4 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    <label>Hiện thị&nbsp;
                                        <select class="form-control form-control-sm custom-select custom-select-sm">
                                            <option value="10" selected="">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    <label>Tình trạng&nbsp;
                                        <select class="form-control form-control-sm custom-select custom-select-sm">
                                            <option value="all" selected="">Tất cả</option>
                                            <option value="process">Đang xử lý</option>
                                            <option value="cancel">Đã hủy</option>
                                            
                                        </select>&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                    <label>
                                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable"
                                            placeholder="Tìm kiếm">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Mã đơn hàng</th>
                                        <th>Người nhận</th>
                                        <th>Địa chỉ nhận hàng</th>
                                        <th>Mặt hàng</th>
                                        <th>Ngày tạo đơn</th>
                                        <th>Số tiền</th>
                                        <th>Trạng thái</th>
                                        <th>Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% Orders.forEach(function(order) { %>
                                        <tr>
                                            <td>F15565</td>
                                            <td>
                                                <img class="rounded-circle mr-2" width="30" height="30"
                                                    src="assets/img/avatars/avatar1.jpeg"><%= order.nameorder%>
                                            </td>
                                            <td><%= order.address%></td>
                                            <td>(ID book): <%= order.bookId%></td>
                                            <td><%= order.time%></td>
                                            <td><%= order.total%></td>
                                            <td>Đã giao</td>
                                            <td>
                                                <a href="/update-order"><img class="rounded-circle mr-2" width="30" height="30" id="update_infor"
                                                src="assets/img/rotation.png">
                                            </a>
                                               <a href="#"> <img class="rounded-circle mr-2" width="30" height="30"
                                                    src="assets/img/x-button.png">
                                                </a>
                                            </td>
                                        </tr>
                                     <% }); %>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Mã đơn hàng</td>
                                        <td>
                                            <strong>Người nhận</strong>
                                        </td>
                                        <td>
                                            <strong>Địa chỉ</strong>
                                        </td>
                                        <td>
                                            <strong>Mặt hàng</strong>
                                        </td>
                                        <td>
                                            <strong>Ngày tạo đơn</strong>
                                        </td>
                                        <td>
                                            <strong>Số tiền</strong>
                                        </td>
                                        <td>
                                            <strong>Trạng thái</strong>
                                        </td>
                                        <td>
                                            <strong>Hoạt động</strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Hiện thị 1 đến 10
                                    của 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>